<div class="top-content">

    <div class="container">
        <div class="row form-box">
            <div class="col-sm-10 col-sm-offset-1 ">
                <div class="form-top">

                    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel" data-interval="false">
                        <!-- Indicators -->
                        <ol class="carousel-indicators">
                            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                        </ol>

                        <!-- Wrapper for slides -->
                        <div class="carousel-inner" role="listbox">
                            <form class="item active login-form" name="employeeForm">
                                <h3 align="center"><strong>Edit employee</strong></h3>

                                <div ng-show="edited===false" class="alert alert-danger alert-dismissable">
                                    <a href="" class="close"></a>
                                    <strong>Warning!</strong> Failed to edit employee
                                </div>

                                <div ng-show="assigned===false" class="alert alert-danger alert-dismissable">
                                    <a href="" class="close"></a>
                                    <strong>Warning!</strong> Failed to assign leader to employee. Please check whether leader and subordingate are different
                                </div>

                                <!--FIRST NAME-->
                                <div ng-show="employeeForm.firstName.$touched && employeeForm.firstName.$error.maxlength" class="alert alert-danger alert-dismissable">
                                    <a href="" class="close"></a>
                                    <strong>Warning!</strong> Field first name must not be longer than 30 signs
                                </div>
                                <div ng-show="employeeForm.firstName.$touched && employeeForm.firstName.$error.required" class="alert alert-danger alert-dismissable">
                                    <a href="" class="close"></a>
                                    <strong>Warning!</strong> Field first name is required
                                </div>
                                <div class="form-group">
                                    <label for="form-firstName">First name</label>
                                    <input type="text" name="firstName" placeholder="First name..." class="form-username form-control" id="form-firstName" ng-model="controller.employee.firstName" ng-maxlength="30" required>
                                </div>

                                <!--LAST NAME-->
                                <div ng-show="employeeForm.lastName.$touched && employeeForm.lastName.$error.maxlength" class="alert alert-danger alert-dismissable">
                                    <a href="" class="close"></a>
                                    <strong>Warning!</strong> Field last name must not be longer than 50 signs
                                </div>
                                <div ng-show="employeeForm.lastName.$touched && employeeForm.lastName.$error.required" class="alert alert-danger alert-dismissable">
                                    <a href="" class="close"></a>
                                    <strong>Warning!</strong> Field last name is required
                                </div>
                                <div class="form-group">
                                    <label for="form-lastName">Last name</label>
                                    <input type="text" name="lastName" placeholder="Last name..." class="form-username form-control" id="form-lastName" ng-model="controller.employee.lastName" ng-maxlength="50" required>
                                </div>

                                <div ng-show="employeeForm.dateOfEmployment.$touched && employeeForm.dateOfEmployment.$error.required" class="alert alert-danger alert-dismissable">
                                    <a href="" class="close"></a>
                                    <strong>Warning!</strong> Field date of employment is required
                                </div>

                                <div  ng-show="employeeForm.dateOfEmployment.$touched && !employeeForm.dateOfEmployment.$valid" class="alert alert-danger alert-dismissable">
                                    <a href="" class="close"></a>
                                    <strong>Warning!</strong> Field date of employment is not valid
                                </div>

                                <div class="form-group">
                                    <label for="form-dateOfEmployment">Date of employment</label>
                                    <input type="date" name="dateOfEmployment" placeholder="Date of employment..." class="form-username form-control" id="form-dateOfEmployment" ng-model="controller.employee.dateOfEmployment" required>
                                </div>

                                <button ng-disabled="employeeForm.$invalid" href="#carousel-example-generic" class="btn btn-default" data-slide="next">Next</button>

                            </form>

                            <div class="item">
                                <h3 align="center"><strong>Assign employee</strong></h3>

                                <div class="form-group">
                                    <button class="btn btn-default" ng-click="controller.employee.leader=null">Unassign leader</button>
                                </div>

                                <ul class="list-group"><li class="list-group-item"  ng-repeat="data in controller.tree" ng-include="'assign_leader_tree.html'"></ul>

                                <button href="#carousel-example-generic" class="btn btn-default" data-slide="prev">Previous
                                </button>
                                <button href="#carousel-example-generic" class="btn btn-primary" data-slide="next"
                                        ng-click="controller.editEmployee()">
                                    Edit employee
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/ng-template"  id="assign_leader_tree.html">
    {{data.lastName+' '+data.firstName+' '}}
    {{data.dateOfEmployment | date: "dd-MM-y"}}
    <label>
        <input name="radio" type="radio" ng-model="controller.employee.leader.leaderId" ng-value="data.employeeId"> Assign
    </label>
    <ul ng-show="initialLeaderId!==data.employeeId">
        <li class="row" ng-repeat="data in data.subordinate" ng-include="'assign_leader_tree.html'"></li>
    </ul>
</script>